# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
**/__pycache__/

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log

# Local environment settings
.env
.env.*
local_settings.py

# Editor/OS files
.vscode/
.DS_Store
Thumbs.db

# Coverage/test
.coverage
.pytest_cache/
htmlcov/
